.drawing {
    background-color: bisque;
    border: 1px solid black;
    border-radius: 0.25rem;
    padding: 1rem 4rem 2rem 4rem;
    margin-top: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.colorPicker {
    margin-bottom: 1.5rem !important;
}

.drawingPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pixels {
    margin-bottom: 2rem;
}






/* from row component */
.row {
    display: flex;
    width: fit-content;
}

/* from pixel component */
.pixel {
    width: 1.5rem;
    height: 1.5rem;
}

.pixel:hover {
    cursor: pointer;
}