.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.loginForm div {
    display: flex;
    justify-content: space-between;
}

.loginForm__errors {
    display: flex;
    flex-direction: column;
    color: #eb2158;
}
