.navBar ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    
}

.navLink {
    text-decoration: none;
    color: #7ca2cf;

}

.navLink:hover {
    color: #2c62aa;
    cursor: pointer;
}

