.navBar {
    display: flex;
    justify-content: space-evenly;
    font-size: 40px;
}

.navBar img {
    max-height: 40px;
}

.navLink {
    text-decoration: none;
    color: #7ca2cf;
}

.navLink:hover {
    color: #2c62aa;
    cursor: pointer;
}

