.signupForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 20%;
    height: auto;
    padding: 7%;
    
    text-shadow: 2px 2px white;
    text-align: center;

    background-color: white;
    box-shadow: 10px 10px 0 #c0d9ef;
    border-radius: 5px;
}

/* .signupForm div {
    display: flex;
    justify-content: space-between;
} */

.signupForm__errors {
    display: flex;
    flex-direction: column;
    color: red;
    font-size: 70%;
}

.signupForm input {
    border: none;
    box-shadow: 0 5px 0 #c0d9ef;
    width: 90%;
    height: 20px;
    padding: 15px 5px;
    margin: 5px 0;
    font-size: 50%;
}

.signupForm input:focus {
    outline: none; 
}

.signupForm button {
    /* display: flex; */
    /* justify-content: center; */
}
