.signupForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.signupForm div {
    display: flex;
    justify-content: space-between;
}

.signupForm button {
    border: none;

}

.signupForm button:hover {
    cursor: pointer;

}