.signupForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.signupForm div {
    display: flex;
    justify-content: space-between;
}

.signupForm__errors {
    display: flex;
    flex-direction: column;
    color: #eb2158;
}