.userHistory {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;   
}

.emptyHistory {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  margin: 200px 0;
}

.swiperContainer {
  width: 100%;
  height: 100%;
}

.swiperSlide {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:transparent;
  text-align: center;
}

