/* TODO Add site wide styles */
html {

}

body {
    background-color: #ddf0fc;
    font-family: 'Roboto', sans-serif;
}

body button {
    font-family: 'Roboto', sans-serif;
    padding: 5px;
    margin: 5px;
    /* border-radius: 50px;
    border: none;
    background-color: #eb2158;
    color: #fff; */

}

body button:hover {
    cursor: pointer;

}

#root {

}