/* TODO Add site wide styles */
html {

}

body {
    background-color: #ddf0fc;
    font-family: 'Roboto', sans-serif;
}

body button {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500;
    padding: 12px 28px;
    margin-top: 20px;
    border-radius: 23px;
    background-color: transparent;
    border: 1px solid #c0d9ef;

}

body button:hover {
    cursor: pointer;

}

#root {

}